{% extends 'base.html' %}
{% load custom_filters %}
{% comment %} {% load menu %} {% endcomment %}
{% load static %}
{% block content %}
{% include 'inc/slider.html' %}

{% if categores %}
<div class="row  ">
{% for category in categores %}
        <div class="col-12 col-md-12  col-lg-6  ">
            <div class="main-post "  style="background: white;  padding: 5px 0 ; margin: 10px 0; border-radius: 9px;">
                <div class="row">

                    <div class="col-2 ">
                            <!-- <div class="image-section" style="background-image: url('{% static  'assets/images/default_thumbnail.png' %}') ;background-size: contain; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;" ></div> -->
                            <div class="image-section" style="background-image: url('{{ category.image.url }}') ;background-size: contain; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;" ></div>
                    </div>

                    <div class="col-10">
                        <div class="title-section " style ><h3><a category_id="{{category.id}}" class="text category_id_in_frontpage_a"  href="{% url 'categories_detail' category.id %}">  {{ category.name }}  <input type="hidden" category_id="{{category.id}}" class="c category_class ategory_id_in_frontpage" value="{{ category.id }}"> </a></h3> </div>
                        {% csrf_token %}
                        <p class="fs-6 text-muted" >{{ category.description|truncatewords:11 }}</p>
                    </div>
                    {% comment %} <hr> {% endcomment %}
                    <div class="shair-section p-0 ">
                        <div class="row">
                            <!-- info of category  -->
                            <div class="col-11">
                                <div class="status-section" style="padding-right: 13px; ">
                                    <sapn style="padding:2px; " class="count-cats p-2 center"><i class="fa fa-eye fa-fw"></i> {{ category.number_of_views }} </sapn>
                                    <sapn style="padding:2px; " class="count-cats p-2 center"> <i class="fa fa-music" aria-hidden="true"></i> {{ category.num_lessons }} </sapn>
                                    <sapn style="padding:2px; " class="count-cats p-2 center">  <i class="fa-regular fa-clock"></i> {{ category.total_duration|default:0|format_duration }} </sapn>
                                </div>
                            </div>
                        <!-- icons-shair -->
                        <div class="col-1">
                            <div class="icons-shair float-end " style="padding-left: 13px; ">
                                <div class="dropdown">
                                    <span type="button" class="m-1   " data-bs-toggle="dropdown">
                                            <i class="fa fa-share ml-2"></i> 
                                    </span>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" style="padding:1px; " class="icon-shair  f-s-5 icon-shair-tiwtter"> <i class="fab fa-twitter"></i> </a></li>
                                        <li><a href="#" style="padding:1px; " class="icon-shair  f-s-5 icon-shair-telegram"> <i class="fab fa-telegram"></i> </a></li>
                                        <li><a href="#" style="padding:1px; " class="icon-shair  f-s-5 icon-shair-facebook"> <i class="fab fa-facebook"></i> </a></li>
                                        <li><a href="#" style="padding:1px; " class="icon-shair  f-s-5 icon-shair-whatsapp"> <i class="fab fa-whatsapp"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div><!-- shair-section -->
            </div>  
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
<p>لا توجد أقسام بعد</p>
{% endif %}
{% endblock content %}
{% block scripts %} {% endblock scripts %}

